<div class="row mb-3">
  <label class="form-label col-2">名稱*</label>
  <input type="text" class="form-control col" name="name" required>
</div>
<div class="row mb-3">
  <label class="form-label col-2">日期*</label>
  <input type="date" class="form-control col" name="date" required>
</div>
<div class="row mb-3">
  <label class="form-label col-2">類別*</label>
  <select class="form-select form-control col" aria-label="Default select example" name="category">
    <option value="1">家居物業</option>
    <option value="2">交通出行</option>
    <option value="3">休閒娛樂</option>
    <option value="4">餐飲食品</option>
    <option value="5">其他</option>
  </select>
</div>
<div class="row mb-3">
  <label class="form-label col-2">金額*</label>
  <input type="number" class="form-control col" name="amount" required>
</div>