<form action="/" method="POST" class="p-5">
  {{>form}}
  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <button type="submit" class="btn btn-primary">新增支出</button>
  </div>
</form>