<div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    類別
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">家居物業</a></li>
    <li><a class="dropdown-item" href="#">交通出行</a></li>
    <li><a class="dropdown-item" href="#">休閒娛樂</a></li>
    <li><a class="dropdown-item" href="#">餐飲食品</a></li>
    <li><a class="dropdown-item" href="#">其他</a></li>
  </ul>
</div>

<h1>總金額：25260</h1>

<table class="table">
  <tbody>
    <tr>
      <td><img src="expense1.jpg" alt="支出圖片"></td>
      <td>食物</td>
      <td>$20</td>
      <td><button>修改</button></td>
      <td><button>刪除</button></td>
    </tr>
    <tr>
      <td><img src="expense2.jpg" alt="支出圖片"></td>
      <td>交通</td>
      <td>$30</td>
      <td><button>修改</button></td>
      <td><button>刪除</button></td>
    </tr>
    <!-- 其他支出記錄 -->
  </tbody>
</table>

<button>新增支出</button>
</div>
